h2 {
  margin-bottom: 2rem;
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.problems {
  color: var(--problem);
}

.warnings {
  color: var(--warning);
}

span {
  display: inline-block;
  height: 1.65rem;
  width: 1.65rem;
}
