---
permalink: "/group/"
---

{% extends "partials/content.html" %} {% block content %}
<h1>Página de grupo</h1>

<custom-card>
  <custom-title type="problems">Problemas</custom-title>
  <custom-card-list type="problems" id="cardProblems">
    <custom-skeleton height="7"></custom-skeleton>
    <custom-skeleton height="7"></custom-skeleton>
  </custom-card-list>
</custom-card>

<custom-card>
  <custom-title type="warnings">Avisos</custom-title>
  <custom-card-list type="warnings" id="cardWarnings">
    <custom-skeleton height="7"></custom-skeleton>
    <custom-skeleton height="7"></custom-skeleton>
  </custom-card-list>
</custom-card>

<custom-card>
  <custom-title type="normal">Normal</custom-title>
  <custom-card-list type="normal" id="cardNormal">
    <custom-skeleton height="7"></custom-skeleton>
    <custom-skeleton height="7"></custom-skeleton>
  </custom-card-list>
</custom-card>

<script src="/app/presenter/group.js" type="module"></script>
{% endblock %}
