:host {
  display: flex;
  max-width: 100%;
}

.container {
  display: flex;
  padding: 0.5rem 0;
  align-items: center;
  gap: 0.5rem;
  min-width: 0;
  width: 100%;
  overflow: hidden;
}

.container > * {
  display: flex;
  align-items: center;
  flex: 1;
  min-width: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.bar-container {
  justify-content: flex-end;
}

.bar {
  width: var(--percent, 0%);
  height: 1.25rem;
  background: var(--primary-light);
  border-radius: 0.5rem 0 0 0.5rem;
}

.content span {
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: calc(100vw - 12rem);
  min-width: 0;
}

.value {
  background: var(--background);
  padding: 0.25rem;
  border-radius: 1rem;
  margin-left: 0.5rem;
}

@media (max-width: 1000px) {
  .content {
    flex: 2;
  }
}
